.DadJokes {
    display: flex;
    width: 100vw;
    height: 100vh;
    /* justify-content: space-evenly; */
    flex-direction: row;
}

.DadJokes-Banner {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    max-width: 300px;
    background-color: rgb(125, 185, 182);
}

.DadJokes-Banner-Icon {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 120px;
}

.DadJokes-Jokes {
    padding: 25px;
    width: 70vw;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(77, 69, 93); */
    color: black;
    /* font-weight: bold; */
}